.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    color: white;  
}

.logo img {
    max-height: 50px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #388E3C;
}
